html,
body {
  margin: 0;
  padding: 0;
}

.home_product {
  padding: 20px 0;
  background-color: #f3f3f3;
}
.home_product .home_name {
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #666;
}
.home_product .home_name a {
  margin-right: 15px;
  position: relative;
  color: #666;
  transition: all 0.5s;
}
.home_product .home_name a:hover {
  color: #8cc32e;
}
.home_product .home_name svg {
  font-size: 10px;
  margin-right: 10px;
}

.product_info {
  padding: 90px 0;
}
.product_info .info_img .main_img {
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.266);
}
.product_info .info_img .main_img img {
  width: 100%;
}
.product_info .info_img .carousel_img .carousel_item {
  border: 1px solid rgba(0, 0, 0, 0.266);
  margin-right: 20px;
}
.product_info .info_img .carousel_img .carousel_item.active {
  border: 1px solid #8cc32e;
}
.product_info .full_info .info_title h1 {
  font-size: 1.3rem;
  color: #222;
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 500;
  margin: -4px 0 22px;
  text-transform: uppercase;
  font-weight: 700;
}
.product_info .full_info .info_rating {
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
  margin-right: 13px;
}
.product_info .full_info .info_rating svg {
  font-size: 17px;
  color: yellow;
}
.product_info .full_info .info_price {
  color: #222;
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 20px 0 18px;
}
.product_info .full_info .info_available {
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #444;
  margin-bottom: 10px;
}
.product_info .full_info .info_available span {
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #6bb853;
  text-transform: uppercase;
  margin-left: 10px;
}
.product_info .full_info .info_available span svg {
  margin-left: 10px;
}
.product_info .full_info .info_sku {
  margin-bottom: 10px;
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  color: #444;
  font-size: 13px;
  text-transform: uppercase;
}
.product_info .full_info .info_categori {
  margin-bottom: 10px;
  margin-right: 5px;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #444;
}
.product_info .full_info .info_categori a {
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  transition: all 0.5s;
}
.product_info .full_info .info_categori a:hover {
  color: #8cc32e;
}
.product_info .full_info .info_tag {
  margin-bottom: 10px;
  margin-right: 5px;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #444;
}
.product_info .full_info .info_tag a {
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  transition: all 0.5s;
}
.product_info .full_info .info_tag a:hover {
  color: #8cc32e;
}
.product_info .full_info .info_color {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 5px;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #444;
}
.product_info .full_info .info_color a {
  margin: 0 10px;
  transition: all 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.716);
}
.product_info .full_info .info_color a:hover {
  border: 1px solid rgb(201, 197, 197);
}
.product_info .full_info .info_size {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #444;
}
.product_info .full_info .info_size a {
  margin: 0 10px;
  transition: all 0.5s;
  color: #222;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.716);
  background-color: transparent;
  font-size: 14px;
  line-height: 26px;
}
.product_info .full_info .info_size a:hover {
  border: 1px solid rgb(201, 197, 197);
  background-color: #444;
  color: #fff;
}
.product_info .full_info .info_addCart {
  display: flex;
  margin: 40px 0;
}
.product_info .full_info .info_addCart .info_quantity {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.392);
}
.product_info .full_info .info_addCart .info_quantity p {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
}
.product_info .full_info .info_addCart .info_quantity button {
  width: 40px;
  height: 60px;
  border: none;
  transition: all 0.5s;
}
.product_info .full_info .info_addCart .info_quantity button:hover {
  background-color: #222;
  color: white;
}
.product_info .full_info .info_addCart .btn_add {
  margin: 0 10px;
  border: none;
  width: 250px;
  border-radius: 10px;
  background-color: #f7af24;
  color: white;
  transition: all 0.5s;
  font-size: 14px;
}
.product_info .full_info .info_addCart .btn_add svg {
  margin-right: 10px;
}
.product_info .full_info .info_addCart .btn_add:hover {
  background-color: #8cc32e;
}
.product_info .full_info .info_share {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.product_info .full_info .info_share .article_size_guide,
.product_info .full_info .info_share .article_share,
.product_info .full_info .info_share .article_print {
  padding: 12.5px 30px;
  transition: all 0.5s;
}
.product_info .full_info .info_share .article_size_guide a svg,
.product_info .full_info .info_share .article_share a svg,
.product_info .full_info .info_share .article_print a svg {
  margin-right: 15px;
  color: #8cc32e;
  font-size: 1.5rem;
}
.product_info .full_info .info_share .article_size_guide a span,
.product_info .full_info .info_share .article_share a span,
.product_info .full_info .info_share .article_print a span {
  font-size: 11px;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
}
.product_info .full_info .info_share .article_size_guide:hover,
.product_info .full_info .info_share .article_share:hover,
.product_info .full_info .info_share .article_print:hover {
  background-color: rgba(102, 102, 102, 0.0705882353);
}

.description .nav {
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}
.description .nav .nav-item {
  margin-right: 60px;
}
.description .nav .nav-item .nav-link {
  border: none;
  font-size: 1.8rem;
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  color: #bfbfbf;
  display: block;
  text-transform: uppercase;
  padding: 13px 0;
  position: relative;
}
.description .nav .nav-item .nav-link:hover {
  color: #222;
}
.description .nav .nav-item .nav-link:hover::after {
  background: #8cc32e;
  width: 100%;
}
.description .nav .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: transparent;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: background 0.3s ease-in-out, width 0.3s ease-in-out;
}
.description .nav .nav-item .active {
  color: #222;
}
.description .nav .nav-item .active::after {
  background: #8cc32e;
  width: 100%;
}
.description .tab-content .tab-pane .description_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description .tab-content .tab-pane .description_content img {
  border: 1px dashed gray;
  margin: 30px 0;
}/*# sourceMappingURL=detail.css.map */