.register {
  padding-top: 100px;
  margin-bottom: 80px;
}
.register .register_nav {
  width: 100%;
  height: 70px;
  background-color: #f3f3f3;
}
.register .register_nav nav ul {
  display: flex;
}
.register .register_nav nav ul li {
  margin-top: 25px;
}
.register .register_nav nav ul li a {
  color: #666;
  font-size: 12px;
  margin-right: 10px;
  transition: all 0.3s;
}
.register .register_nav nav ul li a:hover {
  color: #8cc32e;
}
.register .register_nav nav ul li span {
  color: #666;
  font-size: 12px;
  margin-left: 10px;
}
.register .register_form {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.register .register_form .title_block {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e8;
  padding-bottom: 8px;
  color: #000;
  position: relative;
}
.register .register_form .title_block::after {
  content: "";
  display: block;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 200px;
  position: absolute;
  background-color: #f7af24;
}
.register .register_form .block_form_login .theThongBao {
  width: 100%;
  height: 30px;
  border: 1px solid red;
  border-radius: 10px;
  margin: 10px 0;
  opacity: 0;
  padding: 20px;
  line-height: 0;
  color: red;
  transition: all 0.5s;
}
.register .register_form .block_form_login p {
  font-size: 13px;
  padding: 8px 0;
  color: #666;
}
.register .register_form .block_form_login .form_name {
  color: #e5e5e8;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  position: relative;
  transition: all 0.3s;
}
.register .register_form .block_form_login .form_name svg {
  margin-right: 20px;
  margin-left: 5px;
}
.register .register_form .block_form_login .form_name input {
  position: absolute;
  border: none;
  margin-left: 30px;
  height: 45px;
  border-left: 1px solid #e5e5e8;
  width: 95%;
}
.register .register_form .block_form_login .form_name:hover {
  border: 1px solid #8cc32e;
}
.register .register_form .block_form_login .form_phone {
  color: #e5e5e8;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  position: relative;
  margin-top: 10px;
  transition: all 0.3s;
}
.register .register_form .block_form_login .form_phone:hover {
  border: 1px solid #8cc32e;
}
.register .register_form .block_form_login .form_phone svg {
  margin-right: 20px;
  margin-left: 5px;
}
.register .register_form .block_form_login .form_phone input {
  position: absolute;
  border: none;
  margin-left: 30px;
  height: 45px;
  border-left: 1px solid #e5e5e8;
  width: 95%;
}
.register .register_form .block_form_login .form_email {
  color: #e5e5e8;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  position: relative;
  margin-top: 10px;
  transition: all 0.3s;
}
.register .register_form .block_form_login .form_email:hover {
  border: 1px solid #8cc32e;
}
.register .register_form .block_form_login .form_email svg {
  margin-right: 20px;
  margin-left: 5px;
}
.register .register_form .block_form_login .form_email input {
  position: absolute;
  border: none;
  margin-left: 30px;
  height: 45px;
  border-left: 1px solid #e5e5e8;
  width: 95%;
}
.register .register_form .block_form_login .form_password {
  color: #e5e5e8;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  position: relative;
  margin: 10px 0;
  transition: all 0.3s;
}
.register .register_form .block_form_login .form_password:hover {
  border: 1px solid #8cc32e;
}
.register .register_form .block_form_login .form_password svg {
  margin-right: 20px;
  margin-left: 5px;
}
.register .register_form .block_form_login .form_password input {
  position: absolute;
  border: none;
  margin-left: 30px;
  height: 45px;
  border-left: 1px solid #e5e5e8;
  width: 95%;
}
.register .register_form .block_form_login .form_gioiTinh {
  display: flex;
  margin: 20px 0;
}
.register .register_form .block_form_login .form_gioiTinh .form-check {
  margin: 0 20px;
}
.register .register_form .block_form_login .form_checkbox {
  margin: 10px 0;
}
.register .register_form .block_form_login .form_checkbox .custom_checkbox {
  color: #bbb;
}
.register .register_form .block_form_login .form_checkbox .custom_checkbox .custom_input input {
  height: 18px;
  width: 18px;
}
.register .register_form .block_form_login .form_checkbox .custom_checkbox span {
  margin-right: 10px;
  font-size: 14px;
}
.register .register_form .block_form_login .bank_login {
  margin-bottom: 15px;
}
.register .register_form .block_form_login .bank_login span {
  font-size: 12px;
  color: #666;
}
.register .register_form .block_form_login .bank_login span a {
  color: #6aa1da;
  transition: all 0.3s;
  font-weight: 600;
}
.register .register_form .block_form_login .bank_login span a:hover {
  color: #8cc32e;
}
.register .register_form .block_form_login .form_submit .btn-dark {
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
}
.register .register_form .block_form_login .form_submit .btn-dark:hover {
  background-color: #8cc32e;
  border: 1px solid #8cc32e;
}/*# sourceMappingURL=register.css.map */