@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div.disabled {
  overflow-x: hidden;
  overflow-y: scroll;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
}

.container-fluid {
  --bs-gutter-x: 0;
}

span {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: padding 0.5s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
header .header_content .header_logo .logo_content {
  background: #000;
  padding: 38px 0 35px 30px;
  width: 100%;
  transition: padding 0.5s ease;
}
header .header_content .header_search {
  background-color: #8cc32e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 22px;
  transition: padding 0.5s ease;
}
header .header_content .header_search .search_bg .search_icon a svg {
  width: 22px;
  height: 22px;
  transition: all 0.5s ease;
}
header .header_content .header_search .search_bg .search_icon a p.search_text {
  font-size: 12px;
  margin-bottom: 0 !important;
}
header .header_content .header_search .search_bg .search_icon a:hover svg {
  animation: move-horizontal 0.3s ease-in-out;
}
header .header_content .header_nav {
  background-color: white;
}
header .header_content .header_nav nav ul li {
  padding: 41px 22px;
  cursor: pointer;
  transition: padding 0.5s ease;
}
header .header_content .header_nav nav ul li a {
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s ease;
}
header .header_content .header_nav nav ul li:hover a {
  color: #8cc32e;
}
header .header_content .header_nav nav ul li .active {
  color: #8cc32e;
}
header .header_content .header_right {
  background-color: white;
}
header .header_content .header_right .right_content .right_menu .right_item {
  padding: 32px 20px;
  border-left: 1px solid gray;
  transition: padding 0.5s ease;
}
header .header_content .header_right .right_content .right_menu .right_item .right_item_content {
  font-weight: 600;
  font-size: 12px;
  color: #909090;
  text-transform: uppercase;
}

header.sticky .header_content .header_logo .logo_content {
  padding: 10px 20px;
  transition: padding 0.5s ease;
}
header.sticky .header_content .header_search {
  padding: 4px 20px;
  transition: padding 0.5s ease;
  background-color: #8cc32e;
}
header.sticky .header_content .header_nav nav ul li {
  padding: 5px 15px;
  transition: padding 0.5s ease;
}
header.sticky .header_content .header_nav nav ul li a {
  font-size: 11px;
  transition: font-size 0.5s ease, color 0.5s ease;
}
header.sticky .header_content .header_right .right_content .right_menu .right_item {
  padding: 5px 15px;
  transition: padding 0.5s ease;
}
header.sticky .header_content .header_right .right_content .right_menu .right_item .right_item_content {
  font-size: 11px;
  transition: font-size 0.5s ease;
}

.header_space {
  margin-bottom: 106px;
}

.pc_carousel .carousel_item {
  position: relative;
  background: url(../img/slideshow-1_8f45ff48-8631-4b20-826e-5f477c1502bd_1920x850.jpg) no-repeat center;
  background-size: cover;
  height: calc(100vh - 90px);
  z-index: 0;
  display: grid;
  align-items: center;
  width: 100%;
}
.pc_carousel .carousel_item .carousel_info {
  position: relative;
  z-index: 2;
}
.pc_carousel .carousel_item .carousel_info .carousel_content {
  top: -200px;
  text-align: left;
  color: #fff;
}
.pc_carousel .carousel_item .carousel_info .carousel_content .caption-1 {
  font-size: 70px;
  line-height: 48px;
  padding: 0;
}
.pc_carousel .carousel_item .carousel_info .carousel_content .caption-1 span {
  color: #8cc32e;
}
.pc_carousel .carousel_item .carousel_info .carousel_content .caption-2 {
  font-size: 12rem;
  opacity: 0.6;
  line-height: 170px;
}
.pc_carousel .carousel_item2 {
  background: url(../img/slideshow-2_1cdbfd27-ae25-4a38-9d4f-a913a692bea7_1920x850.jpg) no-repeat center;
}
.pc_carousel .carousel_item3 {
  background: url(../img/slideshow-3_4c7a7862-bfd8-4c8c-a7ac-37b5a7e7f191_1920x850.jpg) no-repeat center;
}
.pc_carousel .owl-dots {
  margin-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}
.pc_carousel .owl-dots button.owl-dot {
  padding: 1px 6px !important;
}
.pc_carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #fff;
  display: block;
  border-radius: 25px;
  position: relative;
  opacity: 0.4;
}
.pc_carousel .owl-theme .owl-dots .owl-dot:hover span, .pc_carousel .owl-theme .owl-dots .owl-dot.active span {
  background: #8cc32e;
  opacity: 1;
}

.represent_product .represent_content .represent_item {
  overflow: hidden;
  border: 5px dashed rgba(211, 52, 65, 0);
  position: relative;
  display: flex;
  transition: all 0.5s;
  transform: translateY(0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.represent_product .represent_content .represent_item .represent_img img {
  width: 65%;
  height: auto;
  transform: translateY(35px);
}
.represent_product .represent_content .represent_item .represent_text {
  top: 25px;
  position: absolute;
  left: 140px;
  text-align: right;
  font-weight: 900;
  text-transform: uppercase;
}
.represent_product .represent_content .represent_item .represent_text h3 {
  font-weight: 900;
}
.represent_product .represent_content .represent_item .represent_text .text_price {
  color: #d33442;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.represent_product .represent_content .represent_item .represent_text a {
  margin-top: 40px;
  color: #d33442;
}
.represent_product .represent_content .represent_item .represent_text a:hover {
  color: rgba(211, 52, 65, 0.8352941176);
}
.represent_product .represent_content .represent_item:hover {
  border: 5px dashed #d33442;
  transform: translateY(-20px);
  overflow: hidden;
}

.sell_product .sell_content .nav-pills {
  --bs-nav-pills-link-active-bg: #fff;
  --bs-nav-pills-link-active-color: #000;
  --bs-nav-link-color: #00000052;
}
.sell_product .sell_content .nav .nav-item .nav-link {
  transition: all 0.5s;
  padding-bottom: 20px;
  cursor: pointer;
}
.sell_product .sell_content .nav .nav-item .nav-link .button_content .button_check {
  position: relative;
  width: 10px;
  height: 30px;
  background-color: #fff;
  border: 1px solid black;
  margin-right: 40px;
}
.sell_product .sell_content .nav .nav-item .nav-link .button_content .button_check svg {
  position: absolute;
  font-size: 33px;
  left: -10px;
  color: #8cc32e;
  opacity: 0;
}
.sell_product .sell_content .nav .nav-item .nav-link .button_content .button_text {
  text-align: left;
}
.sell_product .sell_content .nav .nav-item .nav-link .button_content .button_text .text_title {
  font-size: 2rem;
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.sell_product .sell_content .nav .nav-item .nav-link .button_content .button_text .text_main {
  font-size: 4rem;
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 30px;
}
.sell_product .sell_content .nav .nav-item:hover .nav-link {
  color: #000;
}
.sell_product .sell_content .nav .nav-item:hover .nav-link .button_content .button_check svg {
  opacity: 1;
}
.sell_product .sell_content .nav .nav-item .active .button_content .button_check svg {
  opacity: 1;
}
.sell_product .sell_content .nav .nav-item .active .button_content .button_check {
  color: #000;
}
.sell_product .sell_content .tab-content .tab-pane .product_item {
  border: 1px solid gray;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_item_img {
  padding: 10px;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_item_img .item_img {
  position: relative;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_item_img .item_img img {
  width: 100%;
  border-bottom: 1px solid gray;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_item_info {
  padding: 10px;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_item_info .product_name {
  font-size: 12px;
  font-weight: 700;
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  color: #444;
  text-transform: uppercase;
  transition: all 0.5s;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_item_info .product_name:hover {
  color: #8cc32e;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_price {
  padding: 10px;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_price p {
  color: #222;
  font-size: 13px;
  font-weight: 700;
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_price .product_button a {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #f8f8f8;
  margin: 0 5px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_price .product_button a svg {
  color: #222;
  margin-left: 7px;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_price .product_button a:hover {
  background-color: #8cc32e;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_price .product_button a:hover svg {
  color: #fff;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_price .product_button .btn_check {
  transform: translateY(20px);
  transition: 0.2s;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_price .product_button .btn_heart {
  transform: translateY(30px);
  transition: 0.4s;
}
.sell_product .sell_content .tab-content .tab-pane .product_item .product_price .product_button .btn_plus {
  transform: translateY(40px);
  transition: 0.7s;
}
.sell_product .sell_content .tab-content .tab-pane .product_item:hover .product_button a {
  visibility: unset;
  opacity: 1;
}
.sell_product .sell_content .tab-content .tab-pane .product_item:hover .product_button .btn_check {
  transform: translateY(0);
}
.sell_product .sell_content .tab-content .tab-pane .product_item:hover .product_button .btn_heart {
  transform: translateY(0);
}
.sell_product .sell_content .tab-content .tab-pane .product_item:hover .product_button .btn_plus {
  transform: translateY(0);
}

.feature_product {
  margin: 158px 0;
  background: linear-gradient(to right, #0e0f13, #21435c);
}
.feature_product .feature_content {
  padding-top: 75px;
  padding-bottom: 105px;
}
.feature_product .feature_content .feature_img {
  position: relative;
  z-index: 9;
  margin: -149px 0 -199px;
  animation: feature_move 5s infinite;
}
.feature_product .feature_content .feature_img img {
  margin-right: 25px;
  width: 100%;
}
.feature_product .feature_content .feature_text {
  color: #fff;
}
.feature_product .feature_content .feature_text .feature_info .span_feature {
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  line-height: 35px;
}
.feature_product .feature_content .feature_text .feature_info .span_feature span {
  color: #8cc32e;
}
.feature_product .feature_content .feature_text .feature_info .title_feature {
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 35px;
  margin-bottom: 29px;
  margin-right: 130px;
}
.feature_product .feature_content .feature_text .feature_info a {
  background: #8cc32e;
  min-width: 150px;
  min-height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 4px;
  margin-top: 20px;
}
.feature_product .feature_content .feature_text .feature_info a span {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .feature_product .feature_content .feature_img {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .feature_product .feature_content .feature_img img {
    max-width: 40%;
  }
}
.back_to_top {
  font-size: 20px;
  width: 50px;
  height: 50px;
  background: #8cc32e;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 40px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  transform: 200ms;
}
.back_to_top:hover {
  color: #8cc32e;
  background-color: white;
  border: 1px solid black;
  bottom: 45px;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes move-horizontal {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(30px);
    opacity: 1;
  }
  60% {
    transform: translateX(30px);
    opacity: 0;
  }
  80% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes feature_move {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
@media screen and (max-width: 1200px) {
  .pc_carousel .carousel_item {
    padding: 2.5em 0;
  }
  .pc_carousel .carousel_item .carousel_info {
    z-index: 2;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content {
    top: -150px;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content .caption-1 {
    font-size: 60px;
    line-height: 40px;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content .caption-2 {
    font-size: 10rem;
    line-height: 156px;
  }
}
@media screen and (max-width: 992px) {
  .pc_carousel .carousel_item {
    padding: 2em 0;
  }
  .pc_carousel .carousel_item .carousel_info {
    z-index: 2;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content {
    top: -120px;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content .caption-1 {
    font-size: 50px;
    line-height: 35px;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content .caption-2 {
    font-size: 8rem;
    line-height: 115px;
  }
}
@media screen and (max-width: 768px) {
  .pc_carousel .carousel_item {
    padding: 1.5em 0;
  }
  .pc_carousel .carousel_item .carousel_info {
    z-index: 2;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content {
    top: -100px;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content .caption-1 {
    font-size: 30px;
    line-height: 30px;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content .caption-2 {
    font-size: 6rem;
    line-height: 120px;
  }
}
@media screen and (max-width: 576px) {
  .pc_carousel .carousel_item {
    padding: 1em 0;
  }
  .pc_carousel .carousel_item .carousel_info {
    z-index: 2;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content {
    top: -50px;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content .caption-1 {
    font-size: 25px;
    line-height: 30px;
  }
  .pc_carousel .carousel_item .carousel_info .carousel_content .caption-2 {
    font-size: 5rem;
    line-height: 85px;
  }
}
.product {
  padding-top: 30px;
}
.product .product_title {
  display: flex;
}
@media screen and (max-width: 576px) {
  .product .product_title {
    display: block;
  }
}
.product .product_title .title_block {
  text-transform: uppercase;
  display: flex;
  padding-right: 50px;
}
.product .product_title .title_block span {
  color: #cdcdcd;
  font-size: 28px;
  font-weight: 800;
  padding: 0 0 5px;
}
.product .product_title .title_block p {
  color: #000;
  font-size: 55px;
  font-weight: 800;
}
.product .product_title .sub_title {
  padding-top: 63px;
  font-size: 13px;
  line-height: 22px;
  opacity: 0.8;
}
.product .product_content .owl-carousel .product_item {
  border: 1px solid gray;
  margin: 0 20px;
  padding: 0 15px;
  position: relative;
}
@media screen and (max-width: 576px) {
  .product .product_content .owl-carousel .product_item {
    display: grid;
  }
}
.product .product_content .owl-carousel .product_item .product_info img {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid gray;
}
.product .product_content .owl-carousel .product_item .product_info .badge_sale {
  top: 0;
  padding: 5px 10px;
  position: absolute;
}
.product .product_content .owl-carousel .product_item .product_info .badge_sale .badge_new {
  background-color: #56cb82;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  border-radius: 0 6px;
  width: 48px;
  padding: 6px 15px;
  margin-bottom: 5px;
}
.product .product_content .owl-carousel .product_item .product_info .badge_sale .badge_number {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  border-radius: 0 6px;
  width: 48px;
  padding: 6px 10px;
  margin-bottom: 5px;
  background-color: #e85b40;
}
.product .product_content .owl-carousel .product_item .product_info span a {
  color: #444;
  transition: all 0.3s;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.product .product_content .owl-carousel .product_item .product_info span a:hover {
  color: #8cc32e;
}
.product .product_content .owl-carousel .product_item .product_info p {
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0;
}
.product .product_content .owl-carousel .product_item .group_button {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 15px 0;
  opacity: 0;
}
.product .product_content .owl-carousel .product_item .group_button a {
  padding: 5px 10px;
  background-color: white;
  color: #000;
  border: 1px solid #f5f5f5;
  transition: all 0.5s;
  border-radius: 8px;
}
.product .product_content .owl-carousel .product_item .group_button a:hover {
  color: white;
  background-color: #8cc32e;
}
.product .product_content .owl-carousel .product_item .group_button .product_icon_second {
  margin: 20px 0;
}
.product .product_content .owl-carousel .product_item:hover .group_button {
  animation-name: fadeInRight;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.express {
  padding-top: 80px;
}
.express .express_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.express .express_content .express_item {
  border: 2px dashed #ccc;
  text-align: center;
  margin: 10px 20px;
}
@media screen and (max-width: 992px) {
  .express .express_content .express_item {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .express .express_content .express_item {
    grid-template-columns: 1fr;
  }
}
.express .express_content .express_item .express_img img {
  display: inline-block;
  padding: 0 20px;
  margin: -20px 0 22px;
  position: relative;
  background-color: #fff;
}
.express .express_content .express_item .express_info h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}
.express .express_content .express_item .express_info p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 30px;
  color: #909090;
  font-weight: 500;
}

.latest {
  padding: 40px 0;
}
.latest .latest_title {
  display: flex;
}
@media screen and (max-width: 576px) {
  .latest .latest_title {
    display: block;
  }
}
.latest .latest_title .latest_title_block {
  text-transform: uppercase;
  display: flex;
  padding-right: 50px;
}
.latest .latest_title .latest_title_block span {
  color: #cdcdcd;
  font-size: 28px;
  font-weight: 800;
  padding: 0 0 5px;
}
.latest .latest_title .latest_title_block p {
  color: #000;
  font-size: 55px;
  font-weight: 800;
}
.latest .latest_title .latest_sub_title {
  padding-top: 63px;
  font-size: 13px;
  line-height: 22px;
  opacity: 0.8;
}
.latest .latest_content .owl-carousel .latest_item {
  width: 600px;
  position: relative;
}
.latest .latest_content .owl-carousel .latest_item .latest_img {
  cursor: pointer;
}
.latest .latest_content .owl-carousel .latest_item .latest_img:hover {
  animation-name: pulse;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.latest .latest_content .owl-carousel .latest_item .latest_text {
  text-align: center;
  position: relative;
  margin: -40px 40px 0;
  padding: 20px 40px 0;
  background-color: #fff;
}
.latest .latest_content .owl-carousel .latest_item .latest_text a {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  transition: all 0.3s;
}
.latest .latest_content .owl-carousel .latest_item .latest_text a:hover {
  color: #8cc32e;
}
.latest .latest_content .owl-carousel .latest_item .latest_text span {
  font-size: 10px;
  color: #666;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 400;
}
.latest .latest_content .owl-carousel .latest_item .latest_date {
  top: 10px;
  left: 10px;
  position: absolute;
  color: white;
  padding: 8px 15px;
  text-align: center;
  background-color: #8cc32e;
  border-radius: 3px;
}
.latest .latest_content .owl-carousel .latest_item .latest_date .date_first {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.company {
  padding-top: 40px;
}
.company .company_content {
  border-top: 1px solid #f2f2f2;
}
.company .company_content .owl-carousel {
  margin-top: 80px;
}
.company .company_content .owl-carousel .company_item img {
  width: 100px;
  margin-left: 30px;
}

.gallery {
  padding-top: 80px;
  padding-bottom: 10px;
}
.gallery .gallery_content .owl-carousel .gallery_item .gallery_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7019607843);
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.gallery .gallery_content .owl-carousel .gallery_item .gallery_overlay .overlay_icon {
  padding-top: 250px;
  transform: scale(0);
  transition: all 0.3s;
}
.gallery .gallery_content .owl-carousel .gallery_item .gallery_overlay .overlay_icon a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  padding-left: 10px;
  border-radius: 100%;
  background-color: #fff;
  color: #8cc32e;
  line-height: 40px;
  transition: all 0.3s;
}
.gallery .gallery_content .owl-carousel .gallery_item .gallery_overlay .overlay_icon a:hover {
  color: white;
  background-color: #8cc32e;
}
.gallery .gallery_content .owl-carousel .gallery_item:hover .gallery_overlay {
  opacity: 1;
}
.gallery .gallery_content .owl-carousel .gallery_item:hover .overlay_icon {
  transform: scale(1);
}
.gallery .gallery_content .owl-carousel .owl-nav {
  margin: 0;
}
.gallery .gallery_content .owl-carousel .owl-nav .owl-prev {
  left: -8px;
  top: 50%;
  width: 45px;
  height: 70px;
  position: absolute;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: #222;
  transform: translateY(-70%);
  transition: all 0.3s;
}
.gallery .gallery_content .owl-carousel .owl-nav .owl-prev span {
  font-size: 40px;
}
.gallery .gallery_content .owl-carousel .owl-nav .owl-prev:hover {
  background-color: #8cc32e;
}
.gallery .gallery_content .owl-carousel .owl-nav .owl-next {
  right: -8px;
  top: 50%;
  width: 45px;
  height: 70px;
  position: absolute;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: #222;
  transform: translateY(-70%);
  transition: all 0.3s;
}
.gallery .gallery_content .owl-carousel .owl-nav .owl-next span {
  font-size: 40px;
}
.gallery .gallery_content .owl-carousel .owl-nav .owl-next:hover {
  background-color: #8cc32e;
}

footer .footer_top {
  background-color: #002b51;
  height: 200px;
}
footer .footer_top .footer_text {
  text-align: center;
  padding-top: 80px;
}
footer .footer_top .footer_text h3 {
  font-size: 26px;
  font-weight: 600;
  color: white;
}
footer .footer_top .footer_text p {
  color: #8cc32e;
  font-size: 12px;
  text-transform: uppercase;
}
footer .footer_top .footer_form .input_group {
  position: relative;
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer .footer_top .footer_form .input_group .email-input {
  width: 100%;
  padding: 15px;
  padding-right: 140px; /* Chừa khoảng trống để nút không chồng lên text */
  border: none;
  font-size: 14px;
  color: #ccc;
  outline: none;
  box-sizing: border-box;
}
footer .footer_top .footer_form .input_group .subscribe-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #8cc63f;
  color: white;
  padding: 0 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0 5px 5px 0;
}
footer .footer_top .footer_form .input_group .subscribe-button:hover {
  background-color: #7bbd35;
}
footer .footer_between {
  background-color: #00305b;
  height: 500px;
  padding: 40px 0;
}
footer .footer_between .avenger .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .footer_between .avenger .row .footer_info {
  margin-top: 80px;
}
footer .footer_between .avenger .row .footer_info h2 {
  font-size: 36px;
  color: #8cc32e;
}
footer .footer_between .avenger .row .footer_info span {
  font-size: 14px;
  color: #fff;
}
footer .footer_between .avenger .row .footer_info h5 {
  font-size: 17px;
  font-weight: 500;
  color: #8cc32e;
}
footer .footer_between .avenger .row .footer_info p {
  margin-top: 40px;
  font-size: 15px;
  color: #8cc32e;
}
footer .footer_between .avenger .row .footer_info .info_icon {
  margin-bottom: 30px;
}
footer .footer_between .avenger .row .footer_info .info_icon ul {
  display: flex;
  margin-top: 50px;
}
footer .footer_between .avenger .row .footer_info .info_icon ul li a {
  color: #fff;
  margin-right: 20px;
}
footer .footer_between .avenger .row .footer_customer {
  color: #fff;
  margin-top: 90px;
}
footer .footer_between .avenger .row .footer_customer h4 {
  margin-left: 30px;
  font-size: 15px;
  font-weight: 600;
}
footer .footer_between .avenger .row .footer_customer ul li a {
  color: white;
  font-size: 13px;
  line-height: 30px;
  transition: all 0.3s;
}
footer .footer_between .avenger .row .footer_customer ul li a:hover {
  color: #8cc32e;
}
footer .footer_between .avenger .row .footer_about {
  color: #fff;
  margin-top: 90px;
}
footer .footer_between .avenger .row .footer_about h4 {
  margin-left: 30px;
  font-size: 15px;
  font-weight: 600;
}
footer .footer_between .avenger .row .footer_about ul li a {
  color: white;
  font-size: 13px;
  line-height: 30px;
  transition: all 0.3s;
}
footer .footer_between .avenger .row .footer_about ul li a:hover {
  color: #8cc32e;
}
footer .footer_between .footer_coppyright {
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer_between .footer_coppyright .footer_group {
  display: flex;
  justify-content: space-between;
}
footer .footer_between .footer_coppyright .footer_group .coppyright p {
  color: white;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */