.register {
  padding-top: 100px;
  margin-bottom: 80px;
  .register_nav {
    width: 100%;
    height: 70px;
    background-color: #f3f3f3;
    nav {
      ul {
        display: flex;
        li {
          margin-top: 25px;
          a {
            color: #666;
            font-size: 12px;
            margin-right: 10px;
            transition: all 0.3s;
            &:hover {
              color: #8cc32e;
            }
          }
          span {
            color: #666;
            font-size: 12px;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .register_form {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    .title_block {
      font-size: 16px;
      font-weight: 600;
      border-bottom: 1px solid #e5e5e8;
      padding-bottom: 8px;
      color: #000;
      position: relative;
      &::after {
        content: "";
        display: block;
        left: 0;
        bottom: -1px;
        height: 1px;
        width: 200px;
        position: absolute;
        background-color: #f7af24;
      }
    }
    .block_form_login {
      p {
        font-size: 13px;
        padding: 8px 0;
        color: #666;
      }
      .form_name {
        color: #e5e5e8;
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        position: relative;
        transition: all 0.3s;
        svg {
          margin-right: 20px;
          margin-left: 5px;
        }

        input {
          position: absolute;
          border: none;
          margin-left: 30px;
          height: 45px;
          border-left: 1px solid #e5e5e8;
        }
        &:hover {
          border: 1px solid #8cc32e;
        }
      }
      .form_phone {
        color: #e5e5e8;
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        position: relative;
        margin-top: 10px;
        transition: all 0.3s;
        &:hover {
          border: 1px solid #8cc32e;
        }
        svg {
          margin-right: 20px;
          margin-left: 5px;
        }

        input {
          position: absolute;
          border: none;
          margin-left: 30px;
          height: 45px;
          border-left: 1px solid #e5e5e8;
        }
      }
      .form_email {
        color: #e5e5e8;
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        position: relative;
        margin-top: 10px;
        transition: all 0.3s;
        &:hover {
          border: 1px solid #8cc32e;
        }
        svg {
          margin-right: 20px;
          margin-left: 5px;
        }

        input {
          position: absolute;
          border: none;
          margin-left: 30px;
          height: 45px;
          border-left: 1px solid #e5e5e8;
        }
      }
      .form_password {
        color: #e5e5e8;
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        position: relative;
        margin: 10px 0;
        transition: all 0.3s;
        &:hover {
          border: 1px solid #8cc32e;
        }
        svg {
          margin-right: 20px;
          margin-left: 5px;
        }

        input {
          position: absolute;
          border: none;
          margin-left: 30px;
          height: 45px;
          border-left: 1px solid #e5e5e8;
        }
      }
      .form_gioiTinh {
        display: flex;
        margin: 20px 0;
        .form-check {
          margin: 0 20px;
        }
      }
      .form_checkbox {
        margin: 10px 0;
        .custom_checkbox {
          color: #bbb;
          .custom_input {
            input {
              height: 18px;
              width: 18px;
            }
          }
          span {
            margin-right: 10px;
            font-size: 14px;
          }
        }
      }
      .bank_login {
        margin-bottom: 15px;
        span {
          font-size: 12px;
          color: #666;
          a {
            color: #6aa1da;
            transition: all 0.3s;
            font-weight: 600;
            &:hover {
              color: #8cc32e;
            }
          }
        }
      }
      .form_submit {
        .btn-dark {
          font-size: 14px;
          font-weight: 600;
          transition: all 0.3s;
          &:hover {
            background-color: #8cc32e;
            border: 1px solid #8cc32e;
          }
        }
      }
    }
  }
}
footer {
  .footer_top {
    background-color: #002b51;
    height: 200px;
    .footer_text {
      text-align: center;
      padding-top: 80px;
      h3 {
        font-size: 26px;
        font-weight: 600;
        color: white;
      }
      p {
        color: #8cc32e;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    .footer_form {
      .input_group {
        position: relative;
        max-width: 600px;
        margin: 40px auto;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        .email-input {
          width: 100%;
          padding: 15px;
          padding-right: 140px; /* Chừa khoảng trống để nút không chồng lên text */
          border: none;
          font-size: 14px;
          color: #ccc;
          outline: none;
          box-sizing: border-box;
        }
        .subscribe-button {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: #8cc63f;
          color: white;
          padding: 0 25px;
          border: none;
          font-weight: bold;
          cursor: pointer;
          text-transform: uppercase;
          border-radius: 0 5px 5px 0;
          &:hover {
            background-color: #7bbd35;
          }
        }
      }
    }
  }
  .footer_between {
    background-color: #00305b;
    height: 500px;
    padding: 40px 0;
    .avenger {
      .row {
        display: grid;
        grid-template-columns: repeat((3, 1fr));
        .footer_info {
          margin-top: 80px;
          h2 {
            font-size: 36px;
            color: #8cc32e;
          }
          span {
            font-size: 14px;
            color: #fff;
          }
          h5 {
            font-size: 17px;
            font-weight: 500;
            color: #8cc32e;
          }
          p {
            margin-top: 40px;
            font-size: 15px;
            color: #8cc32e;
          }
          .info_icon {
            margin-bottom: 30px;
            ul {
              display: flex;
              margin-top: 50px;
              li {
                a {
                  color: #fff;
                  margin-right: 20px;
                }
              }
            }
          }
        }
        .footer_customer {
          color: #fff;
          margin-top: 90px;
          h4 {
            margin-left: 30px;
            font-size: 15px;
            font-weight: 600;
          }
          ul {
            li {
              a {
                color: white;
                font-size: 13px;
                line-height: 30px;
                transition: all 0.3s;
                &:hover {
                  color: #8cc32e;
                }
              }
            }
          }
        }
        .footer_about {
          color: #fff;
          margin-top: 90px;
          h4 {
            margin-left: 30px;
            font-size: 15px;
            font-weight: 600;
          }
          ul {
            li {
              a {
                color: white;
                font-size: 13px;
                line-height: 30px;
                transition: all 0.3s;
                &:hover {
                  color: #8cc32e;
                }
              }
            }
          }
        }
      }
    }
    .footer_coppyright {
      padding-top: 40px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      .footer_group {
        display: flex;
        justify-content: space-between;
        .coppyright {
          p {
            color: white;
            font-size: 12px;
          }
        }
        .coppy_img {
        }
      }
    }
  }
}
