html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
div.disabled {
  overflow-x: hidden; //horizontal
  overflow-y: scroll; //vertical
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
ul {
  margin-bottom: 0;
}
.container-fluid {
  --bs-gutter-x: 0;
}
span {
  text-decoration: none;
}
